.popup__save-button_type_disabled {
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  color: #000000;
  border: 1px solid #000000;
  opacity: 0.2;
}

.popup__save-button_type_disabled:hover {
  opacity: 0.2;
  cursor: auto;
}
