.element__del-button {
margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  box-sizing: border-box;
  object-fit: cover;
  background: none;
  background-image:url(../../../images/Trash.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.element__del-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
